@import '../../variable.scss';

.map-section-wrapper {
  height: 100%;
  position: relative;

  .longitude-map {
    position: absolute;
    top: 10px;
    left: 55px;
    width: calc(100% - 65px);
    height: 40px;
  }
  .latitude-map {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 40px;
    height: calc(100% - 65px);
  }

  .longitude-map,
  .latitude-map {
    svg {
      width: 100%;
      height: 100%;
    }
  }

  #map {
    position: absolute;
    left: 55px;
    top: 55px;
    width: calc(100% - 65px);
    height: calc(100% - 65px);
  }
  
  // #map {
  //   margin: 10px;
  //   height: calc(100% - 20px);
  //   position: relative;
  // }
}