@import '../../variable.scss';


.operation-section-wrapper {
  margin: 10px;
  height: 100%;
  overflow: auto;
  position: relative;


  .section {
    margin-bottom: 15px;
    
    .section-title {
      margin-bottom: 5px;
      padding: 5px;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      border: 1px solid #eee;
      border-radius: 3px;
      background: #fff;
      box-shadow: 2px 2px 5px #ccc;
    }

    .section-content {
      padding: 10px;
      min-height: 100px;
      border: 1px solid #ddd;
      border-radius: 3px;
      background: #fff;
    }
  }
  .section.unusualspots-section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s;

    .section-icon {
      display: block;
      width: 100%;
      height: 20px;
      background-image: url(~static/down.svg);
      background-size: 100% 20px;
      position: absolute;
      bottom: -25px;
      transform: rotate3d(0, 0, 1, 180deg);

    }
  }
  .section.unusualspots-section.hidden {
    transform: translate3d(0, -100%, 0);

    .section-icon {
      transform: rotate3d(0, 0, 1, 0);
    }
  }
  .spot-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 110px;

    .spot-item {
      margin: 8px;
      padding: 5px;
      width: 200px;
      border: 1px solid $secondTextColor;
      border-radius: 3px;
    }
  }

  .clusters-section {
    .bubblesvg {
      width: 100%;
      height: 220px;


      .topBubbleAndText {
        transition: transform 0.5s;
      }
      .topBubble {
        transition: r 0.5s, cx 0.5s;
      }
      
    }
  }

  .hotspots-section {
    .hotspots-content {
      height: 500px;
      background: rgba(200, 60, 80, 0.2);

      .checkin-svg {
        width: 100%;
        height: 100%;

        .checkinitem {
          height: 18px;
          fill: none;
          stroke: #000;
        }
      }
    }
  }

}

